body{
    height: 100vh;
}
* {
    font-family: arial;
}
/*com1-header*/

.header {
    display: flex;
    padding: 18px;
}
.header_left {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;
    flex-basis: 290px;
}
.header>a {
    font-family: 'Sacramento';
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #f64060;
}
.header_left a {
    font-size: 15px;
    text-decoration: none;
    color: #999;
    font-weight: bold;
}
.header_left a:first-child {
    border-right: 1px solid #ddd;
    color: #00a2c7;
    padding: 5px 0;
    padding-right: 15px;
}
.header_left a:hover {
    color: #00a2c7;
}